<a href="https://colab.research.google.com/github/Bokyoung-00/python_education/blob/master/%EA%B5%AD%EB%AF%BC_%EC%A0%95%EC%9B%90_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas로 국민청원 데이터 분석

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("C:/bkk/petition.csv", parse_dates=['start','end'])

In [ ]:
df.shape

(395547, 8)

In [ ]:
df.head()

,article_id,start,end,answered,votes,category,title,content
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."

In [ ]:
df.tail()

,article_id,start,end,answered,votes,category,title,content
395542,517117,2019-02-04,2019-03-06,0,3,보건복지,명절연휴 고속도로 무료반대,명절고속도로 무료보단 대다수의 서민들이 이용하는 대중교통 무료와 명절기간 증차로 했...
395543,517119,2019-02-04,2019-03-06,0,23,보건복지,광주사태 가짜 유공자들 정수기로 걸려내야함,광주사태 유공자들 차고 넘치는데 이래 많은 유공자들 그냥놓아두면 재앙이다.\n김대중...
395544,517120,2019-02-04,2019-03-06,0,0,안전/환경,환경문제,명절이면 후로 제일문제는 쓰레기 문제 입니다.\n제일문제는 선물세트와 농산물세트 입...
395545,517121,2019-02-04,2019-03-06,0,20,정치개혁,"청화대,더불어민주당, 당장 답하라,,,,,,","좌파 더불어민주당, 좌파 정권 청화대는 선한 국민들을 더는 기망하지 말고 담장 답하..."
395546,517122,2019-02-04,2019-03-06,0,16,인권/성평등,여성부 폐지,국민들이 원합니다\n폐지 좀 시키세요;

In [ ]:
df.describe()

         article_id      answered          votes
count 395547.000000 395547.000000  395547.000000
mean  251608.934635      0.000073     150.118818
std   153219.216242      0.008562    4802.582992
min       21.000000      0.000000       0.000000
25%   115236.500000      0.000000       2.000000
50%   253682.000000      0.000000       5.000000
75%   386137.500000      0.000000      15.000000
max   517122.000000      1.000000 1192049.000000

In [ ]:
df.isnull().sum()

article_id    0
start         0
end           0
answered      0
votes         0
category      0
title         0
content       1
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395547 entries, 0 to 395546
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   article_id  395547 non-null  int64
 1   start       395547 non-null  datetime64[ns]
 2   end         395547 non-null  datetime64[ns]
 3   answered    395547 non-null  int64
 4   votes       395547 non-null  int64
 5   category    395547 non-null  object
 6   title       395547 non-null  object
 7   content     395546 non-null  object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 24.1+ MB

In [ ]:
df.dtypes

article_id             int64
start         datetime64[ns]
end           datetime64[ns]
answered               int64
votes                  int64
category              object
title                 object
content               object
dtype: object

In [ ]:
df.columns
##컬럼명 바꿀 때 필요함

Index(['article_id', 'start', 'end', 'answered', 'votes', 'category', 'title',
       'content'],
      dtype='object')

In [ ]:
# votes 숫자 
pd.set_option("float_format",'{:f}'.format)

In [ ]:
df.describe(include=np.object)

       category     title   content
count    395547    395547    395546
unique       17    346524    375224
top        정치개혁  이명박 출국금지  이명박 출국금지
freq      62750      3018       597

### 20만건 이상 투표를 받으면 답변 대상 청원이 됩니다.
### 20만건 이상 청원 받은 내용으로 데이터 프레임 만들기
### 20만건 이상 투표를 받은 청원의 갯수를 세어보세요

In [ ]:
df_20=df[df['votes'] >200000] ; df_20.head()

,article_id,start,end,answered,votes,category,title,content,answer
1752,1785,2017-09-03,2017-11-02,1,296330,인권/성평등,청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...,안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...,1
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!,1
18111,18278,2017-09-30,2017-10-30,1,235372,인권/성평등,낙태죄 폐지와 자연유산 유도약(미프진) 합법화 및 도입을 부탁드립니다.,안녕하세요. 존경하는 대통령님 의원님\n낙태죄 폐지를 청원합니다.\n현재 대한민국은...,1
25032,26024,2017-11-04,2017-12-04,1,216774,안전/환경,'주취감형(술을 먹으면 형벌 감형)' 폐지를 건의(청원)합니다.,"'주취감형'이란, 술을 먹고 범행을 저지를 때, 심신미약 (이성이 없고 우발적)이라...",1
43992,45581,2017-11-17,2017-12-17,1,281985,보건복지,"권역외상센터 (이국종 교수님) 추가적, 제도적, 환경적, 인력 지원","청원사항)\n중증외상분야의 추가적, 제도적, 환경적, 인력 지원 방안마련\n현 의료...",1

In [ ]:
df_20.shape

(80, 9)

In [ ]:
df_1000=df[df['votes'] >1000] ; df_1000.shape

(3472, 9)

In [ ]:
df_1000.head()

,article_id,start,end,answered,votes,category,title,content,answer
7,28,2017-08-19,2017-08-26,0,2137,경제민주화,소액주주를 보호해주십시오,** 존경하옵는 문재인대통령님께\n저는 중국원양자원이라는 KOSPI상장사의 소액 ...,0
21,43,2017-08-19,2017-09-18,0,11293,육아/교육,기간제 교사의 정규직화를 반대합니다.,"대통령님, 안녕하세요. 저는 임용을 준비하고 수험생입니다. 처음 기간제 정규직화 된...",0
24,46,2017-08-19,2017-09-18,0,1933,육아/교육,기간제교사의 정규직화를 반대합니다.,"대통령님, 안녕하세요. 저는 임용을 준비하고 수험생입니다. 처음 기간제 정규직화 된...",0
28,50,2017-08-19,2017-10-18,0,1251,일자리,치과위생사 국가고시 날짜 변경 억울합니다,안녕하십니까? 대통령님 간단하게 제소개 부터 하겠습니다. 저는 치위생과 3학년 학생...,0
38,61,2017-08-19,2017-08-26,0,1185,일자리,영어회화전문강사제도는 유지되어야합니다.,1. 영전강의고용안정을 원합니다\n2.1년단위계약직으로 임신 출산육아 매우 곤란합니...,0

In [ ]:
df[df['votes'] >1000].count()

article_id    3472
start         3472
end           3472
answered      3472
votes         3472
category      3472
title         3472
content       3472
answer        3472
dtype: int64

In [ ]:
df_20.category.value_counts()

인권/성평등         24
안전/환경          10
기타              8
정치개혁            8
문화/예술/체육/언론     7
외교/통일/국방        4
반려동물            4
보건복지            3
교통/건축/국토        3
육아/교육           3
성장동력            2
경제민주화           2
행정              1
미래              1
Name: category, dtype: int64

In [ ]:
df_20["category"].value_counts()

인권/성평등         24
안전/환경          10
기타              8
정치개혁            8
문화/예술/체육/언론     7
외교/통일/국방        4
반려동물            4
보건복지            3
교통/건축/국토        3
육아/교육           3
성장동력            2
경제민주화           2
행정              1
미래              1
Name: category, dtype: int64

In [ ]:
df_20_new=df_20[["title","content","votes"]]

In [ ]:
df_20_new.head()

,title,content,votes
1752,청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...,안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...,296330
10894,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!,615354
18111,낙태죄 폐지와 자연유산 유도약(미프진) 합법화 및 도입을 부탁드립니다.,안녕하세요. 존경하는 대통령님 의원님\n낙태죄 폐지를 청원합니다.\n현재 대한민국은...,235372
25032,'주취감형(술을 먹으면 형벌 감형)' 폐지를 건의(청원)합니다.,"'주취감형'이란, 술을 먹고 범행을 저지를 때, 심신미약 (이성이 없고 우발적)이라...",216774
43992,"권역외상센터 (이국종 교수님) 추가적, 제도적, 환경적, 인력 지원","청원사항)\n중증외상분야의 추가적, 제도적, 환경적, 인력 지원 방안마련\n현 의료...",281985

In [ ]:
df_20.sort_values(by="votes", ascending=False).head(5)

,article_id,start,end,answered,votes,category,title,content,answer
313314,408609,2018-10-17,2018-11-16,1,1192049,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018년 10월 14일 엊그제 일어난 강서구 피시방 살인사건에 대한 청원입니다.\...,1
208597,269548,2018-06-13,2018-07-13,1,714875,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2012년 난민법 제정으로 인해 외국인은 한달 무비자로 입국할 수 있으나 난민신청자...,1
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!,1
118970,142600,2018-02-19,2018-03-21,1,614127,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다","오늘 여자 단체전 팀추월에서 김보름, 박지우 선수는 팀전인데도 불구하고 개인의 영달...",1
183791,230552,2018-05-11,2018-06-10,1,419006,인권/성평등,여성도 대한민국 국민입니다. 성별 관계없는 국가의 보호를 요청합니다.,최근 홍대 누드크로키 모델의 불법촬영 사건이 있었습니다.\n사건은 굉장히 빠르게 처...,1

## 20만건 이상 투표 받은 청원을 별도의 칼럼을 만들어줍니다. 칼럼 이름은 answer로 합니다. 
## True/ False

In [ ]:
df["answer"]= df['votes'] >200000

In [ ]:
df.tail()

,article_id,start,end,answered,votes,category,title,content,answer
395542,517117,2019-02-04,2019-03-06,0,3,보건복지,명절연휴 고속도로 무료반대,명절고속도로 무료보단 대다수의 서민들이 이용하는 대중교통 무료와 명절기간 증차로 했...,False
395543,517119,2019-02-04,2019-03-06,0,23,보건복지,광주사태 가짜 유공자들 정수기로 걸려내야함,광주사태 유공자들 차고 넘치는데 이래 많은 유공자들 그냥놓아두면 재앙이다.\n김대중...,False
395544,517120,2019-02-04,2019-03-06,0,0,안전/환경,환경문제,명절이면 후로 제일문제는 쓰레기 문제 입니다.\n제일문제는 선물세트와 농산물세트 입...,False
395545,517121,2019-02-04,2019-03-06,0,20,정치개혁,"청화대,더불어민주당, 당장 답하라,,,,,,","좌파 더불어민주당, 좌파 정권 청화대는 선한 국민들을 더는 기망하지 말고 담장 답하...",False
395546,517122,2019-02-04,2019-03-06,0,16,인권/성평등,여성부 폐지,국민들이 원합니다\n폐지 좀 시키세요;,False

In [ ]:
df.answer.value_counts()

0    395467
1        80
Name: answer, dtype: int64

In [ ]:
df.shape

(395547, 9)

In [ ]:
df.answer.dtypes

dtype('bool')

In [ ]:
df["answer"]= df["answer"].astype("int")

In [ ]:
df.head()

,article_id,start,end,answered,votes,category,title,content,answer
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...,0
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...,0
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...,0
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0

In [ ]:
df.dtypes

article_id             int64
start         datetime64[ns]
end           datetime64[ns]
answered               int32
votes                  int64
category              object
title                 object
content               object
answer                 int32
dtype: object

In [ ]:
df[df["answer"]==1]["answered"].value_counts()

1    80
Name: answered, dtype: int64

In [ ]:
answered_df=df[df["answer"]==1]
type(answered_df)

pandas.core.frame.DataFrame

In [ ]:
df["category"].value_counts().sort_values(ascending=False)

정치개혁           62750
기타             48682
인권/성평등         34993
안전/환경          30638
교통/건축/국토       28184
외교/통일/국방       26626
육아/교육          25537
보건복지           24848
일자리            23225
행정             20268
문화/예술/체육/언론    18207
미래             18000
경제민주화          16793
성장동력            7253
반려동물            4057
저출산/고령화대책       3584
농산어촌            1902
Name: category, dtype: int64

In [ ]:
category=(df["category"].value_counts()).reset_index()
category

          index  category
0          정치개혁     62750
1            기타     48682
2        인권/성평등     34993
3         안전/환경     30638
4      교통/건축/국토     28184
5      외교/통일/국방     26626
6         육아/교육     25537
7          보건복지     24848
8           일자리     23225
9            행정     20268
10  문화/예술/체육/언론     18207
11           미래     18000
12        경제민주화     16793
13         성장동력      7253
14         반려동물      4057
15    저출산/고령화대책      3584
16         농산어촌      1902

In [ ]:
category.columns=["category","counts"]
category.head(3)

  category  counts
0     정치개혁   62750
1       기타   48682
2   인권/성평등   34993

### 시계열 데이터
#### - 월별 청원수 집계
#### - 청원이 가장 많이 들어온 달?
#### - 요일별 청원수?

In [ ]:
df["Date"]= pd.to_datetime(df['start'])

In [ ]:
df.head()

,article_id,start,end,answered,votes,category,title,content,answer,Date,Day,Month
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...,0,2017-08-19,5,8
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...,0,2017-08-19,5,8
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0,2017-08-19,5,8
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...,0,2017-08-19,5,8
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0,2017-08-19,5,8

In [ ]:
df["Day"]=df["Date"].dt.dayofweek

In [ ]:
df["Month"]= df['Date'].dt.month

In [ ]:
df.shape

(395547, 12)

In [ ]:
df["Month"].value_counts().sort_index()

1     52941
2     28117
3     21795
4     23227
5     25499
6     25483
7     25714
8     28851
9     40888
10    31687
11    52847
12    38498
Name: Month, dtype: int64

In [ ]:
df['Day'].value_counts().sort_index()

0    54234
1    65229
2    61966
3    63072
4    56646
5    50984
6    43416
Name: Day, dtype: int64

In [ ]:
import re
p=r'.*(돌봄|아이|초등|보육).*'
care= df[df['title'].str.match(p) |
        df['content'].str.match(p, flags=re.MULTILINE)]

care.shape

(47490, 12)

In [ ]:
care.head

<bound method NDFrame.head of         article_id      start        end  answered  votes category  \
3               24 2017-08-19 2017-08-26         0     53      일자리
15              36 2017-08-19 2017-08-26         0      1   인권/성평등
20              42 2017-08-19 2017-09-18         0    173    육아/교육
21              43 2017-08-19 2017-09-18         0  11293    육아/교육
23              45 2017-08-19 2017-11-17         0      0    육아/교육
...            ...        ...        ...       ...    ...      ...
395509      517064 2019-02-04 2019-03-06         0      6     보건복지
395512      517070 2019-02-04 2019-03-06         0      3      일자리
395523      517090 2019-02-04 2019-03-06         0      3     성장동력
395527      517096 2019-02-04 2019-03-06         0      7    육아/교육
395539      517112 2019-02-04 2019-03-06         0      7     보건복지

                                                   title  \
3                               공공기관 무조건적인 정규직전환을 반대합니다.
15         한국채식인구 100만명. 학교 급식 및 군대에서 현미채식 선택권을 보장해주십시오!
20                                  기간제 교사의 정규직화를 반대합니다.
21                                  기간제 교사의 정규직화를 반대합니다.
23                                 초등학교 교사 임용 시험 관련 해결방안
...                                                  ...
395509                               못배운 사람은 이렇게 살아야합니까?
395512  전국 보훈병원  경비,청소,콜센터  계약직 직원 정규직 전환을 빨리 해주었으면 합니다.
395523                 미세먼지 근본 피해 대책으로 1조원 투입 청원 합니다~!!!
395527                                 예비고3이 보는 학생부 종합전형
395539                               보육원생 자립지원 관심이 필요합니다

                                                  content  answer       Date  \
3       현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...       0 2017-08-19
15      문재인 대통령님과 각 정부 인사분들께 마음속 깊이 존경과 감사를 표합니다. 대한민국...       0 2017-08-19
20      대통령님, 안녕하세요. 저는 임용을 준비하고 수험생입니다. 처음 기간제 정규직화 된...       0 2017-08-19
21      대통령님, 안녕하세요. 저는 임용을 준비하고 수험생입니다. 처음 기간제 정규직화 된...       0 2017-08-19
23      초등학교 교사 임용 시험을 수능 시험 처럼 전국 단위로 실시하고난 후에\n1지망 2...       0 2017-08-19
...                                                   ...     ...        ...
395509  안녕하십니까?\n도와주세요 제가 말주변이 없어 뭐라고 적어야 될지 모르겠지만 한번 ...       0 2019-02-04
395512  의료계에서는 국립대병원 10곳에서 총 3366명에 대한 전환 결정이 이뤄졌고, 건강...       0 2019-02-04
395523  안녕하세요~!!\n미세먼지의 심각성에 대한 국민청원을 해 볼까 합니다~!!\n현제 ...       0 2019-02-04
395527  국민청원에 올려야할 이야기가 아니라는 것은 잘 알고 있지만, 여기만큼 교육에 관심이...       0 2019-02-04
395539  보육원에서 자라난 아이들이\n18세에 500만원 손에 쥐고 자립해야하다니요?\n돈만...       0 2019-02-04

        Day  Month
3         5      8
15        5      8
20        5      8
21        5      8
23        5      8
...     ...    ...
395509    0      2
395512    0      2
395523    0      2
395527    0      2
395539    0      2

[47490 rows x 12 columns]>