<a href="https://colab.research.google.com/github/Bokyoung-00/python_education/blob/master/%EA%B8%B0%EC%83%81_%EC%9E%90%EB%A3%8C_%EC%88%98%EC%A7%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests

In [ ]:
url="https://www.weather.go.kr/weather/observation/currentweather.jsp"
res= requests.get(url)
html=res.text

In [ ]:
#BeautifulSoup 쓰지 않고 Pandas의 read_html 기능으로 바로 데이터프레임 만들 수 있음 
# 사이트에 표처럼 돼 있을 때 유용
df=pd.read_html(html); df

[     지점   날씨                    기온(℃)                강수       바람  \
      지점 현재일기   시정km 운량1/10 중하운량  현재기온 이슬점온도  체감온도 일강수mm 습도%   풍향
 0    강릉  NaN  20 이상    NaN  NaN  24.1  21.2  26.8   5.8  84    서
 1   강진군  NaN   14.0    NaN  NaN  27.0  24.8  30.1   2.5  88  서남서
 2    강화  NaN  20 이상    NaN  NaN  24.7  22.5  27.7  61.9  88    서
 3    거제  NaN    8.9    NaN  NaN  26.0  24.0  29.1   0.1  89  북북서
 4    거창  NaN   17.0    NaN  NaN  27.1  24.7  30.1  34.2  87   남서
 ..  ...  ...    ...    ...  ...   ...   ...   ...   ...  ..  ...
 90   합천   흐림  20 이상   10.0  3.0  28.6  25.8  31.5  11.2  85   남서
 91   해남  NaN   10.9    NaN  NaN  26.1  24.6  29.5   0.9  92   남서
 92   홍성   흐림  20 이상    9.0  4.0  25.0  21.9  27.7  67.6  83  남남서
 93   홍천  NaN  20 이상    NaN  NaN  26.8  21.7  28.9  78.9  74   남서
 94  흑산도   흐림   13.4    9.0  9.0  26.3  25.0  29.7  18.6  93  남남서

                                              기압(hPa)
                      풍속writeWindSpeedUnit();    해면기압
 0   writeWindSpeed('0.5', false, '', '', 1);  1005.7
 1   writeWindSpeed('2.7', false, '', '', 1);  1008.9
 2   writeWindSpeed('3.0', false, '', '', 1);  1006.7
 3   writeWindSpeed('2.2', false, '', '', 1);  1008.6
 4   writeWindSpeed('2.0', false, '', '', 1);  1006.2
 ..                                       ...     ...
 90  writeWindSpeed('1.5', false, '', '', 1);  1007.0
 91  writeWindSpeed('4.6', false, '', '', 1);  1008.5
 92  writeWindSpeed('1.6', false, '', '', 1);  1007.1
 93  writeWindSpeed('2.1', false, '', '', 1);  1005.4
 94  writeWindSpeed('3.1', false, '', '', 1);  1007.7

 [95 rows x 13 columns]]

In [ ]:
type(df[0])

pandas.core.frame.DataFrame

In [ ]:
## 카카오 증권

url="https://finance.naver.com/item/main.nhn?code=035720"
res= requests.get(url)
html=res.text

df=pd.read_html(html)

In [ ]:
df[3]

       주요재무정보  최근 연간 실적                                 최근 분기 실적            \
       주요재무정보   2017.12   2018.12   2019.12 2020.12(E)   2019.03   2019.06
       주요재무정보    IFRS연결    IFRS연결    IFRS연결     IFRS연결    IFRS연결    IFRS연결
0         매출액  19723.00  24170.00  30701.00   38238.00   7063.00   7330.00
1        영업이익   1654.00    729.00   2068.00    4259.00    277.00    405.00
2       당기순이익   1251.00    159.00  -3419.00    3475.00    176.00    310.00
3       영업이익률      8.38      3.02      6.73      11.14      3.92      5.52
4        순이익률      6.34      0.66    -11.14       9.09      2.49      4.23
5   ROE(지배주주)      2.91      1.04     -5.81       6.36      1.19      1.57
6        부채비율     42.27     41.45     52.21        NaN     43.23     44.34
7        당좌비율    189.41    146.51    127.98        NaN    134.07    125.35
8         유보율  11781.26  12219.62  12027.79        NaN  12259.96  12378.17
9      EPS(원)   1602.00    613.00  -3585.00    3920.00    330.00    465.00
10     PER(배)     85.50    168.01    -42.82      94.50    135.16    131.82
11     BPS(원)  59336.00  64897.00  63732.00   64997.00  65092.00  65811.00
12     PBR(배)      2.31      1.59      2.41       5.70      1.59      2.00
13   주당배당금(원)    148.00    127.00    127.00     123.00       NaN       NaN
14   시가배당률(%)      0.11      0.12      0.08        NaN       NaN       NaN
15    배당성향(%)      9.25     20.99     -3.46        NaN       NaN       NaN


     2019.09   2019.12   2020.03 2020.06(E)
      IFRS연결    IFRS연결    IFRS연결     IFRS연결
0    7832.00   8476.00   8684.00    9154.00
1     591.00    796.00    882.00     967.00
2     515.00  -4419.00    799.00     761.00
3       7.54      9.39     10.16      10.57
4       6.57    -52.14      9.20       8.32
5       2.31     -5.81     -4.73        NaN
6      49.31     52.21     57.01        NaN
7     129.97    127.98    134.03        NaN
8   12633.14  12027.79  12587.68        NaN
9     666.00  -4959.00    894.00     867.00
10     93.45    -42.82    -52.50     427.25
11  67252.00  63732.00  65538.00        NaN
12      2.01      2.41      2.37        NaN
13       NaN       NaN       NaN        NaN
14       NaN       NaN       NaN        NaN
15       NaN       NaN       NaN        NaN