<a href="https://colab.research.google.com/github/Bokyoung-00/python_education/blob/master/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 정규표현식

In [ ]:
# https://docs.python.org/3/library/re.html
# http://www.regexper.com/
# https://www.w3schools.com/python/python_regex.asp
# http://www.nextree.co.kr/p4327/

### (실습) 아래의 정보에서 주민등록에서 
### 뒷자리 (7자리)를 800905-****로 만들어 출력하세요
### (정규식 안쓰고 알고리즘으로 split(), for, if 처리)

In [ ]:
data= """
park 800905-1049118
kim 700905-1059119
jang 920625-2049307
"""

# data="""
# 김보경 960813-4532157
# 박지윤 654785-5477532
# """
data

'\npark 800905-1049118\nkim 700905-1059119\njang 920625-2049307\n'

In [ ]:
a= data.split()

In [ ]:
len(a)

6

In [ ]:
name=[]
number=[]
for i in range(len(a)):
    if i%2==1:
        number.append(a[i])
    else:
        name.append(a[i])
print(name) 
print(number)

['park', 'kim', 'jang']
['800905-1049118', '700905-1059119', '920625-2049307']

In [ ]:
new_num=[]
for num in number:
    new=num.split("-")
    new_num.append(new)
    
print(new_num)

[['800905', '1049118'], ['700905', '1059119'], ['920625', '2049307']]

In [ ]:
ID_num=[]
for i in range(len(new_num)):
    ID= str(new_num[i][0]) + "-*******"
    ID_num.append(ID)

print(ID_num)

['800905-*******', '700905-*******', '920625-*******']

In [ ]:
ID_final= [name,ID_num] ; ID_final

[['park', 'kim', 'jang'],
 ['800905-*******', '700905-*******', '920625-*******']]

In [ ]:
for i in range(len(ID_final)+1):
    print(ID_final[0][i], ID_final[1][i])

park 800905-*******
kim 700905-*******
jang 920625-*******

In [ ]:
#MY ANSWER

name=[]
number=[]
ID_num=[]
for i in range(len(a)):
    if i%2==1:
        number.append(a[i].split("-"))
    else:
        name.append(a[i])

for i in range(len(new_num)):
    ID= str(new_num[i][0]) + "-*******"
    ID_num.append(ID)

ID_final= [name,ID_num]

for i in range(len(ID_final)+1):
    print(ID_final[0][i], ID_final[1][i])

park 800905-*******
kim 700905-*******
jang 920625-*******

In [ ]:
result=[]
for line in data.split('\n'):
    word_result=[]
    for word in line.split(" "):
        if len(word) ==14 and word[:6].isdigit() and word[7:].isdigit():
            word=word[:6]+"-"+"*******"
        word_result.append(word)
    result.append(" ".join(word_result))
print("\n".join(result))

park 800905-*******
kim 700905-*******
jang 920625-*******

In [ ]:
data

'\npark 800905-1049118\nkim 700905-1059119\njang 920625-2049307\n'

In [ ]:
data.split("\n")

['', 'park 800905-1049118', 'kim 700905-1059119', 'jang 920625-2049307', '']

In [ ]:
import re
pat= re.compile("(\d{6})[-]\d{7}")
pat

re.compile(r'(\d{6})[-]\d{7}', re.UNICODE)

In [ ]:
result=pat.sub("\g<1>-*******",data)
result

'\npark 800905-*******\nkim 700905-*******\njang 920625-*******\n'

In [ ]:
result.split()

['park', '800905-*******', 'kim', '700905-*******', 'jang', '920625-*******']